.fullLoginPage{
    width: 100%;
    padding: 10px 20px;
}
.loginUpper{
    display: flex;
    justify-content: space-between;
    height: fit-content;
    gap: 10px;
}
.loginCard{
    width: 30%;
    backdrop-filter: blur(10px);
    background-color: var(--prime);
    padding: 25px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.lCard{
    display: flex;
    flex-direction: column;
    margin: auto 0;
    gap: 20px;
    width: 100%;
}
.lCard>h1{
    font-size: 22px;
    text-align: center;
}
.lCard>form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}
.lCard>form>input{
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.147);
    border: 0;
    outline: none;
    padding: 5px 10px;
    color: rgba(255, 255, 255, 0.702);
}
.lCard>form>input::placeholder{
    color: white;    
}
.lCard>form>input:last-child{
    font-size: 16px;
    background-color: rgba(68, 255, 0, 0.247);
    border: 0;
    outline: none;
    padding: 5px 10px;
}
.loginInfo{
    flex-grow: 100;
    min-width: 60%;
    height: 100;
    backdrop-filter: blur(10px);
    background-color: var(--prime);
    padding: 10px 20px;
    border-radius: 10px;
}
.loginInfo>ul>li{
    margin-left: 40px;
}
.llFirst{
    background-color: var(--prime);
    margin-top: 10px;
    backdrop-filter: blur(10px);
    padding: 10px 30px;
    border-radius: 10px;
}
.llFirst>ul>li{
    margin-left: 40px;
}
@media screen and (max-width: 850px) {
    .loginUpper{
        flex-direction: column;
        gap: 10px;
    }
    .loginCard{
        width: 100%;
    }
    .lCard{
        width: 100%;
    }
}