.footer{
    background-color: var(--prime);
    backdrop-filter: blur(10px);
    margin: 10px 20px;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    position: relative;
    z-index: -9;
}
.footer>h1, .footer>p{
    text-align: center;
}